# Vicidial / Asterisk
DB_VICIDIAL_HOST=
DB_VICIDIAL_PORT=3306
DB_VICIDIAL_NAME=
DB_VICIDIAL_USER=
DB_VICIDIAL_PASS=

# Config Lead FR
DB_CONFIG_LEAD_FR_HOST=
DB_CONFIG_LEAD_FR_PORT=3306
DB_CONFIG_LEAD_FR_NAME=
DB_CONFIG_LEAD_FR_USER=
DB_CONFIG_LEAD_FR_PASS=

# DEP databases
DB_DEP_HOST=
DB_DEP_PORT=3306
DB_DEP_USER=
DB_DEP_PASS=

# Reception
DB_RECEPTION_HOST=
DB_RECEPTION_PORT=3306
DB_RECEPTION_NAME=
DB_RECEPTION_USER=
DB_RECEPTION_PASS=

# Dashboard Prod1
DB_DASHBOARD_PROD1_HOST=
DB_DASHBOARD_PROD1_PORT=3306
DB_DASHBOARD_PROD1_NAME=
DB_DASHBOARD_PROD1_USER=
DB_DASHBOARD_PROD1_PASS=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Batch
BATCH_SOURCE_DIRECTORY=